<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sistema_de_Gestion.Configuraciones" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear/>
    <!--<add name="SurfactanSA" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=SurfactanSA;Trusted_Connection=Yes;"/>
    <add name="MiConexion"
        connectionString="Data Source=192.168.0.100 ;Initial Catalog=EmpresaDB;user id=Hernan; password=HG1234;" />
    -->

    <!--<add name="MiConexion"
        connectionString="Data Source=PC-12\SQLEXPRESS ;Initial Catalog=DBDaytona;Trusted_Connection=Yes;" />
    <add name="MiConexion"
        connectionString="Data Source=FACTURACION-PC\SQLEXPRESS;Initial Catalog=DBDaytona;Trusted_Connection=Yes;" />
      
         
    -->
    <add name="MiConexion"
        connectionString="Data Source=PCHERNAN\SQLHERNAN;Initial Catalog=DBDaytona;Trusted_Connection=Yes;" />
  <add name="MiConexionOnline"
        
        connectionString="workstation id=bddaytona.mssql.somee.com;packet size=4096;user id=bddaytona_SQLLogin_1;pwd=andodal7wj;data source=bddaytona.mssql.somee.com;persist security info=False;initial catalog=bddaytona" />
      
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings file ="">
    <clear/>
    <add key="PuntoVenta" value="1"/>
      
  </appSettings>
  <userSettings>
    <Sistema_de_Gestion.Configuraciones>
      <setting name="PuntoVenta" serializeAs="String">
        <value>1</value>
      </setting>
    </Sistema_de_Gestion.Configuraciones>
  </userSettings>
</configuration>